<div class="p-4">
    <div class="container">
        <h1>HCFX - Coding Assignment</h1>
        <p>Simple contact management application with dotnet core api, sql server db and angular front end</p>
        <p><a routerLink="/contacts">Manage Contacts</a></p>

        <p>Troubleshooting:</p>
        <ul>
            <li><b>Create and Seed Database</b> : Run Update-Database command in Package Manager Console or run dbo.contact.sql file from code</li>
            <li><b>Run Server</b> :  <i>dotnet run --project .\Contact.Api\Contact.Api.csproj --urls=http://localhost:61976/ </i> after changing directory to root</li>
            <li><b>Run Client</b> : <i>ng serve --proxy-config proxy.conf.json </i> and make sure you specify proxy config</li>
          </ul>
    </div>
</div>