<h1>Contacts</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Contact</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Name</th>
            <th style="width: 30%">Email</th>
            <th style="width: 30%">Date Of Birth</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts">
            <td>{{contact.firstName}} {{contact.lastName}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.dateOfBirth | date: 'dd-MMM-YYYY'}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{contact.contactId}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteContact(contact.contactId)" class="btn btn-sm btn-danger btn-delete-contact" [disabled]="contact.isDeleting">
                    <span *ngIf="contact.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!contact.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!contacts">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>